<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { onMounted } from "vue";
import UserDialog from "./UserDialog.vue";
const userStore = useUserStore();
onMounted(async () => {
  await userStore.getUser();
});
</script>
<template>
  <UserDialog></UserDialog>
  <v-btn  @Click="userStore.dialog = true">Add New </v-btn>
  <v-table>
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>login</th>
        <th>Password</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.user" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.login }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.password }}</td>
        <td><v-btn class="mr-5"  @Click="userStore.editUser(item)">Edit</v-btn><v-btn  @Click="userStore.deleteUser(item.id!)">Delete</v-btn></td>
      </tr>
    </tbody>
  </v-table>
</template>
