<script setup lang="ts">
import { useUserStore } from "@/stores/user";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const userStore = useUserStore();
async function Save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await userStore.saveUser();
  }
}
</script>
<template>
  <v-dialog v-model="userStore.dialog" persistent width="1024">
    <v-card>
      <v-card-title>
        <span class="text-h5">User Profile</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form"
          ><v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  v-model="userStore.editedUser.login"
                  label="Login"
                  required
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 4 || 'Lenght must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="userStore.editedUser.name"
                  label="Name"
                  required
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 4 || 'Lenght must more than 3',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="userStore.editedUser.password"
                  label="Password"
                  persistent-hint
                  required
                  :rules="[
                    (v) => !!v || 'Item is required',
                    (v) => v.length >= 4 || 'Lenght must more than 3',
                    (v) =>
                      /^(?=.*\d)(?=.*[a-z])(?=.*[^a-zA-Z0-9])(?!.*\s).{7,15}$/.test(
                        v
                      ),
                  ]"
                ></v-text-field>
              </v-col>
            </v-row> </v-container
        ></v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          @click="userStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn @click="Save"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
